*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
.container-fluid{
    width:50%;
    margin: auto;
}
.table-responsive{
    max-height: 100px;
    box-shadow: rgba(0,0,0,0.25) 0px 25px 50px -12px;
}
tr:hover{
    background-color: #ffa;
}
td,
th{
    position: relative;
}
.table td,
.table th{
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}
td:hover::after,
th:hover::after{
    content: "";
    position: absolute;
    background-color: white;
    left: 0;
    top:-5000px;
    height: 5000px;
    width: 100%;
    z-index: -1;
}
.table tr td:hover:nth-child(4){
    background-color: rgb(231,83,115);
    color: aliceblue;
    border:0.5px solid rgb(12,12,12);
}
.table tr td:hover{
    background-color: rgb(117,223,122);
    color:aliceblue;
    border: 0.5px solid rgb(12,12,12);
}
.thead-dark{
    font-weight: bold;
    text-transform: uppercase;
}































/* * {
    margin: 0;
  }
  
  body {
    background-color: #f5f6fa;
  }
  
  .app {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f6fa;
    padding: 20px;
  }
  
  .app__dropdown {
    background-color: white;
  }
  
  .app__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .app__header > h1 {
    color: #fc3c3c;
    font-size: 2rem;
  }
  
  .app__stats {
    display: flex;
    justify-content: space-between;
  }
  
  .app__left {
    flex: 0.9;
  }
  
  .app__information > h3 {
    color: #6a5d5d;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .app__information > h3:last-of-type {
    margin-top: 1rem;
  }
  
  @media (max-width: 990px) {
    .app {
      flex-direction: column;
    }
  } */